<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="twitter:site" content="@metroui">
    <meta name="twitter:creator" content="@pimenov_sergey">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Metro 4 Components Library">
    <meta name="twitter:description" content="Metro 4 is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with responsive grid system, extensive prebuilt components, and powerful plugins  .">
    <meta name="twitter:image" content="https://metroui.org.ua/images/m4-logo-social.png">

    <meta property="og:url" content="https://metroui.org.ua/index.html">
    <meta property="og:title" content="Metro 4 Components Library">
    <meta property="og:description" content="Metro 4 is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with responsive grid system, extensive prebuilt components, and powerful plugins  .">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://metroui.org.ua/images/m4-logo-social.png">
    <meta property="og:image:secure_url" content="https://metroui.org.ua/images/m4-logo-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">

    <meta name="author" content="Sergey Pimenov">
    <meta name="description" content="The most popular HTML, CSS, and JS library in Metro style.">
    <meta name="keywords" content="HTML, CSS, JS, Metro, CSS3, Javascript, HTML5, UI, Library, Web, Development, Framework">

    
    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet">

    <style>
        .pagination {
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Ofertas de Trabajo</h1>
    <div class="table-wrapper">    
        <table class="f1-table">
            <thead>
                <tr>
                    <th class="sortable-column">Id Vacante</th>
                    <th class="sortable-column sort-desc">Vacante</th>
                    <th class="sortable-column">Id Empresa</th>
                    <th class="sortable-column sort-asc">País</th>
                    <th class="sortable-column" data-format="date">Fecha de Inicio</th>
                    <th class="sortable-column" data-format="money">Salario</th>
                    <th>Corroe Empresa</th>
                    <th>Interesado</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datos of data" style="text-align:center">
                        <td>{{datos.idvacante}}</td>
                        <td>{{datos.nombrevacante}}</td>
                        <td>{{datos.id_empresa}}</td>
                        <td>{{datos.pais}}</td>
                        <td>{{datos.fechadeinicio}}</td>
                        <td>{{datos.salario}}</td>
                        <td>{{datos.correo}}</td>
                        <td>
                        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">              
                            <div class="form-group">
                                <input type="hidden" name="prueba" id="prueba" [(ngModel)]="myId">
                                <input type="hidden" name="tat" id="tat"  [(ngModel)]="datos.idvacante">
                                <input type="hidden" name="sat" id="sat"  [(ngModel)]="datos.id_empresa">
                                <input type="hidden" name="pap" id="pap"  [(ngModel)]="datos.correo">
                                <input type="hidden" name="correo" id="correo"  [(ngModel)]="correo">
                                <input type="hidden" name="nombre" id="nombre"  [(ngModel)]="nombre">
                            </div>
                        <button class="button primary" type="submit">Interesado</button>
                        </form>
                        </td>  
                    </tr> 
                </tbody>       
    </table>
    </div>
  

<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<!-- ads-script -->

</body>
</html>