

<h2>Terminos y servicios</h2>


<div class="shadow p-3 mb-5 bg-light rounded terminos">Por favor lea estos terminos y condiciones cuidadosamente. Al utilizar este sitio web indicas que aceptas estos terminos y condiciones
    si no acepta estos términos y condiciones, entonces no use este sitio web. <br><br> Este sitio web y estos términos y condiciones están sujetos a cambios en cualquier momento sin previo aviso.
    Todos los documentos y la información del sitio web de Midnight Professional (De ahora en adelante MP) están protegidos por derechos de autor. salvo que se permita específicamente en este documento, ninguna parte de los documentos 
    o la información de este sitio web puede reproducirse de ninguna forma ni por ningún medio sin el consentimiento expreso por escrito de MP. <br><br>
    MP no será responsable de los errores u omisiones contenidos en cualquier sitio web de MP y se reserva el derecho de realizar cambios en cualquier momento sin previo aviso. la mención de productos o servicios que no son de MP se proporciona únicamente 
    con fines informativos y no constituye un respaldo ni una recomendación por parte de lionbridge. toda la información de MP y de terceros proporcionada en cualquier sitio web de MP se proporciona "tal cual".<br><br>
    En ningún caso MP será responsable de ningún daño y, en particular, MP no será responsable de daños directos, especiales, indirectos, consecuentes o incidentales, o daños por lucro cesante, pérdida de ingresos o pérdida de uso, costo de reemplazo. 
    bienes, pérdida o daño de datos que surjan del uso o la imposibilidad de usar cualquier sitio web de MP, cualquier producto o servicio de MP. esto incluye los daños que surjan del uso o la confianza en los documentos o la información presente en cualquier sitio web de MP (incluida cualquier información publicada o colocada por cualquier persona que no sea MP), 
    incluso si MP ha sido advertido de la posibilidad de tales daños.


</div>