<h2>Polizas de privacidad</h2>


<div class="shadow p-3 mb-5 bg-light rounded polizas">
    
Le recomendamos que lea este aviso de privacidad en su totalidad para asegurarse de estar 
completamente informado.
<br><br>

    Introducción
    
<br><br>

Esta política describe los tipos de información de Midnight Professional (MP en adelante),
 llc. (la "compañía", "nosotros", "nuestro" o "nos") puede recopilar de usted o que 
 usted puede proporcionar cuando visita el sitio web 
  y nuestras prácticas para recopilar, usar, mantener, proteger y divulgar esa información. 
  esta política no se aplica a la información recopilada por nosotros fuera de línea o por 
  cualquier otro medio, incluso en cualquier otro sitio web operado por la compañía o un 
  tercero o a través de cualquier aplicación o contenido (incluida la publicidad) que pueda 
  vincularse o ser accesible desde el sitio web.
<br><br>
La compañía se compromete a proteger su privacidad. proporcionamos esta política para
explicar el tipo de información que recopilamos y para informarle sobre las prácticas 
y pautas específicas que protegen la seguridad y confidencialidad de sus datos personales <br>
lea atentamente esta política. si alguno de los términos de esta política es inaceptable
para usted, no utilice el sitio web ni proporcione ningún dato personal. esta política
puede cambiar de vez en cuando (consulte revisiones de nuestra política de privacidad).
    
 <br><br>   
Información que recolectamos
<br><br>
Recopilamos varios tipos de información de y sobre los usuarios de nuestro sitio web, 
que puede incluir información definida como datos personales según el reglamento general 
de protección de datos ("datos personales"). por ejemplo, podemos recopilar información como 
su nombre, dirección de correo electrónico, número de teléfono, e información relacionada
a consultas y solicitudes. También podemos recopilar información
sobre su conexión a internet y el equipo que utiliza para acceder a nuestro sitio web.
a medida que navega por el sitio web, podemos recopilar automáticamente información como 
sus detalles de uso, direcciones ip e información recopilada a través de cookies.


<br><br>
Seguridad de sus datos
<br><br>

Hemos implementado medidas diseñadas para proteger sus datos personales contra pérdidas 
accidentales y contra el acceso, uso, alteración y divulgación no autorizados. 
los datos personales que se nos proporcionen de acuerdo con esta política se cifrarán 
en tránsito y en reposo.
<br>
Desafortunadamente, la transmisión de información a través de internet no es completamente
 segura. aunque haremos todo lo posible para proteger sus datos personales, no podemos
  garantizar la seguridad de sus datos transmitidos a nuestro sitio web. cualquier
   transmisión de sus datos personales es bajo su propio riesgo.



</div>


