#flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: #023E8A;
    color: white;
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    align-content: space-around;
}
#flex
a{
    transition: 0.3s;
}
a:hover{
    color: #f00f03;
}
@media screen and (max-width: 1000px) {
    #flex{
        flex-direction: column-reverse;
        justify-content: center;
        align-content: space-around;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    #flex a{
        margin-top: 5px;
        margin-bottom: 5px;
    }
  }

  .ftr a{
      color: white;
      text-decoration: none;
  }

  .ftr a:hover{
      color: lightskyblue;
      text-decoration: none;
  }