<footer class="bg-dark text-center text-white ftr">

  <div class="container p-4">

    <section class="mb-4">
      <p>
        MidnightProfessional
      </p>
    </section>


    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">


          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/frontpage-component" routerLinkActive="active">
                Home
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/terminos-servicio-component" routerLinkActive="active">
                Terminos de servicio
              </a>

            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/polizas-component" routerLinkActive="active">
                Polizas de privacidad
              </a>
            </li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/aboutus-component" routerLinkActive="active">
                Sobre nosotros
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©Dream Team 2021

  </div>
</footer>
